nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

.mainSectionContainer {
    background-color: blue;
}

nav a {
    padding:block;
    padding:10px;
    font-size:30px;
    height:55px;
    display: flex;
    align-items: center;
    justify-content:center;
}